nav { display: flex; }
header { display: inline; }
#hamburger { width: 18px; }

.nav-child {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
#search { width: 18px; }
#nyt { width: 260px; }
#sub { background-color: rgba(4, 4, 90, 0.795); }
#login { background-color: rgba(4, 4, 90, 0.795); }
#login:hover { background-color: rgba(5, 5, 118, 0.795); }
#sub:hover { background-color: rgba(5, 5, 118, 0.795); }
#flex-kid1 { margin-right: 20px; }
#flex-kid1:hover { text-decoration: underline; }
#flex-kid2 { margin-right: 20px; }
#flex-kid2:hover { text-decoration: underline; }
#flex-kid3 { margin-right: 20px; }
#flex-kid3:hover { text-decoration: underline; }
#flex-kid4 { margin-right: 20px; }
#flex-kid4:hover { text-decoration: underline; }
#flex-bold { margin-right: 20px; }
#article { font-family: 'Montserrat', sans-serif; }
#article h2 { font-size: 30px; }
#article h3 { font-size: 18px; }
#icons1 { width: 25px; }
#icons2 { width: 25px; }
#icons3 { width: 25px; }
#icons4 { width: 25px; }
#icons5 { width: 25px; }
#icons6 { width: 25px; }
#microverse { width: 650px; }
#meeting { width: 650px; }
#microverse3 { width: 150px; }
#middle-div { border: solid rgba(72, 71, 71, 0.741) 0.5px; }
#read { background-color: rgb(9, 9, 107); }
#footer { min-width: 100%; }
.footer { font-family: 'Montserrat', sans-serif; }
.footer1 { font-family: 'Montserrat', sans-serif; }
.footer li { cursor: pointer; }
.footer1 li { cursor: pointer; }
.footer-small li { cursor: pointer; }
.footer-small { font-family: 'Montserrat', sans-serif; }
.footer1 li:hover { text-decoration: underline; }
.footer li:hover { text-decoration: underline; }
.footer-small li:hover { text-decoration: underline; }
